/*CSS*/
* {
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #8BAAD9;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


#container {
	border: 1px solid white;
	width: 900px;
	height: 900px;
	margin: 0 auto;
}

#topo {
	border: 1px solid white;
	height: 150px;
	background: #152349 url(../imagens/logo.png) no-repeat left;
	color: #fff;
}

#menu-superior ul {
	float: right;
}

#menu-superior ul li {
	list-style: none;
	float: left;
	margin-top: 110px;
	padding-right: 40px;
	cursor: pointer;
}

/***Imagem principal ***/

.imagem-principal {
	float: right;
	margin: 5px;
	border: 2px solid white;
	
}

#descricao-imagem{
	font-size: 0.8em;
	float: left;
	width: 700px;
	padding: 5px 20px;
	border: 1px solid white;
	
}

#descricao-imagem h1 {
	font-size: 0.9em;
	padding-bottom: 10px;
	text-align: left;
}

/***Menu lateral***/

#menu-lateral li{
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 80px;
	width: 250px;
	margin-top: 10px;
}

#menu-lateral li a img{
	float: left;
	margin: 5px;
}

#menu-lateral li a {
	text-decoration: none;
}

#menu-lateral li a h3 {
	font-size: 0.8em;
	padding-top: 5px;
}

#menu-lateral li a p {
	font-size: 0.7em;
}

#menu-lateral li:hover {
	background: #eee;
	cursor: pointer;
}

#menu-lateral h2 {
	background: #fff;
	text-align: center;
	width: 255px;
}


/***Rodapé***/

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;

}